@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Variable.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Newsreader";
  src: url("/fonts/Newsreader/Newsreader.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("/fonts/Anonymous Pro/AnonymousPro-Regular.ttf")
}

.container {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  background-color: #f6f6f6;
  padding-left: 5px;
  padding-right: 5px;
}

.blogHeader {
  text-align: center;
  font-size: 1.3em;
  font-family: "Newsreader";
  text-decoration: underline;
  transition: 0.2s;
}

.postHeaderImg {
  margin: 0 auto;
  width: 70%;
}

.postHeaderImg img {
  border-radius: 10px;
}

.title {
  font-size: 5em;
  font-family: "Newsreader";
  margin-bottom: 0;
}

.date {
  font-family: "Newsreader";
}

.quoteBox {
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}

.quoteTextProse {
  font-size: 1.3em;
  font-family: "Newsreader";
  font-style: italic;
  margin-bottom: 0;
}

.quoteTextPoetry {
  font-size: 1.3em;
  font-family: "Newsreader";
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
  white-space: pre-wrap; /* Display multi-line quotes */
}

.quoteAuthor {
  font-size: 0.8em;
  font-family: "Newsreader";
  text-align: right;
}

.blogPostContent {
  font-size: 1.35em;
  font-family: "Newsreader";
  text-align: left;
  line-height: 1.3em;
}

/* This is super fiddly, Blink and Gecko seem to display it differently unless it's very finely-tuned. */
.blogPostContent p:first-child::first-letter {
  float: left;
  font-size: 2.6em;
  line-height: 0.86em;
  margin: 0.13em 0.1em 0 0;
}

.blogPostContent code {
  font-family: "Anonymous Pro";
  font-size: 0.8em;
  line-height: 1.2em;
  display: block;
  background: lightgray;
  margin-right: 10%;
  margin-left: 10%;
  padding: 2%;
  overflow: auto;
}

.subtitle {
  font-size: 3em;
  font-family: "Inter";
}

.homepageLink {
  padding: 1vh;
  margin-bottom: 1vh;
}

.homepageLink a {
  transition: 0.2s;
  text-decoration: underline;
}

.homepageLink a:hover {
  color: #ff7f50;
}

.plugLink {
  transition: 0.2s;
  text-decoration: underline;
}

.plugLink:hover {
  color: #ff7f50;
}

.backtoBlog {
  margin-top: 40px;
  margin-bottom: 40px;
}

.backtoBlog a {
  text-decoration: underline;
  font-size: 1.5em;
  transition: 0.2s;
}

.backtoBlog a:hover {
  color: #ff7f50;
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 60%;
  }

  .postHeaderImg {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 85%;
  }

  .postHeaderImg {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 95%;
  }

  .postHeaderImg {
    width: 90%;
  }

  .blogPostContent {
    font-size: 1.3em;
  }

  .title {
    font-size: 3em;
  }
}