@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Variable.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Newsreader";
  src: url("/fonts/Newsreader/Newsreader.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("/fonts/Anonymous Pro/AnonymousPro-Regular.ttf")
}

.container {
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
}

.blogHeader {
  text-align: center;
  font-size: 1.3em;
  font-family: "Newsreader";
  text-decoration: underline;
  transition: 0.23s;
}

.title {
  font-size: 5em;
  font-family: "Newsreader";
  margin-bottom: 0;
}

.date {
  font-family: "Newsreader";
}

.quoteBox {
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}

.quoteTextProse {
  font-size: 1.5em;
  font-family: "Newsreader";
  font-style: italic;
  margin-bottom: 0;
}

.quoteTextPoetry {
  font-size: 1.5em;
  font-family: "Newsreader";
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
  white-space: pre-wrap; /* Display multi-line quotes */
}

.quoteAuthor {
  font-size: 1em;
  font-family: "Newsreader";
  text-align: right;
}

.postHeaderImg {
  max-width: 100%;
  max-height: 50vh;
  border-radius: 1.5%;
}

.blogPostContent {
  font-size: 1.4em;
  font-family: "Newsreader";
  text-align: left;
  line-height: 1.4em;
}

.blogPostContent p:first-child:first-letter {
  font-size: 3em;
  float: left;
  padding-top: 6px;
  padding-right: 6px;
}

.blogPostContent code {
  font-family: "Anonymous Pro";
  font-size: 0.8em;
  line-height: 1.2em;
  display: block;
  background: lightgray;
  margin-right: 10%;
  margin-left: 10%;
  padding: 2%;
  overflow: auto;
}

.subtitle {
  font-size: 3em;
  font-family: "Inter";
}

.homepageLink {
  padding: 1vh;
  margin-bottom: 1vh;
}

.homepageLink a {
  transition: 0.23s;
  text-decoration: underline;
}

.homepageLink a:hover {
  color: #E37893;
}

.plugLink {
  transition: 0.23s;
  text-decoration: underline;
}

.plugLink:hover {
  color: #E37893;
}

.backtoBlog {
  margin-top: 40px;
  margin-bottom: 40px;
}

.backtoBlog a {
  text-decoration: underline;
  font-size: 1.5em;
  transition: 0.23s;
}

.backtoBlog a:hover {
  color: #E37893;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 95%;
  }

  .blogPostContent {
    font-size: 1.3em;
  }

  .title {
    font-size: 3em;
  }
}