.container {
  margin: 0 auto;
  width: 800px;
  text-align: center;
  background-color: #f6f6f6;
  padding-left: 5px;
  padding-right: 5px;
}

.blogHeader {
  text-align: center;
  font-size: 1.3em;
  font-family: "Newsreader";
  text-decoration: underline;
  transition: 0.2s;
}

.postHeaderImg {
  margin: 0 auto;
}

.postHeaderImg img {
  border-radius: 10px;
  height: 540px;
  object-fit: cover;
  object-position: center center;
}

.title {
  font-size: 4em;
  font-family: "Newsreader";
  font-weight: 900;
  margin-bottom: 0;
}

.date {
  font-family: "Newsreader";
}

.quoteBox {
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}

.quoteText {
  font-size: 1.3em;
  font-family: "Newsreader";
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
  white-space: pre-wrap; /* Display multi-line quotes */
}

.quoteAuthor {
  font-size: 0.8em;
  font-family: "Newsreader";
  text-align: right;
}

.blogPostContent {
  font-size: 1.35em;
  font-family: "Newsreader";
  text-align: left;
  line-height: 1.3;
}

/* This is super fiddly, Blink and Gecko seem to display it differently unless it's very finely-tuned. */
.blogPostContent p:first-child::first-letter {
  float: left;
  font-size: 2.6em;
  line-height: 0.86em;
  margin: 0.13em 0.1em 0 0;
}

.blogPostContent code {
  font-family: "Ubuntu Mono";
  font-size: 0.85em;
  line-height: 1.2em;
  display: block;
  background: black;
  margin-right: 5%;
  margin-left: 5%;
  font-weight: 600;
  padding: 2%;
  overflow: auto;
}

.subtitle {
  font-size: 3em;
  font-family: "Inter";
}

.homepageLink {
  padding: 1vh;
  margin-bottom: 1vh;
}

.homepageLink a {
  transition: 0.2s;
  text-decoration: underline;
}

.homepageLink a:hover {
  color: #ff7f50;
}

.plugLink {
  transition: 0.2s;
  text-decoration: underline;
}

.plugLink:hover {
  color: #ff7f50;
}

.backtoBlog {
  margin-top: 40px;
  margin-bottom: 40px;
}

.backtoBlog a {
  text-decoration: underline;
  font-size: 1.5em;
  transition: 0.2s;
}

.backtoBlog a:hover {
  color: #ff7f50;
}

@media screen and (max-width: 800px) {
  .container {
    width: calc(100vw - 20px);
  }

  .postHeaderImg img {
    height: 300px;
  }

  .title {
    font-size: 3em;
  }
}

@media screen and (max-width: 600px) {
  .blogPostContent {
    font-size: 1.2em;
  }

  .title {
    font-size: 2em;
  }
}