@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700;800&family=Calistoga&family=Ubuntu+Mono&display=swap');

body {
  /* init seasonal variables */
  /* might refactor these to the globals file at some point */
  --fallColor: #ff5429;
  --winterColor: #59dbca;
  --springColor: #f74d79;
  --summerColor: #fbb72b;
}

html, 
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: underline;
  color: inherit;
  transition: 0.2s;
}

a:hover, a:focus {
  color: #ff7f50;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
