@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&family=Newsreader:wght@400;700;800&family=Calistoga&family=Ubuntu+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: underline;
  color: inherit;
  transition: 0.2s;
}

a:hover, a:focus {
  color: #ff7f50;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
