.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f6f6f6;
}

.backgroundImage {
  filter: brightness(60%);
  z-index: 0;
}

.fallText {
  color: var(--fallColor);
}

.fallBackground {
  background: var(--fallColor);
}

.winterText {
  color: var(--winterColor)
}

.winterBackground {
  background: var(--winterColor)
}

.springText {
  color: var(--springColor)
}

.springBackground {
  background: var(--springColor)
}

.summerText {
  color: var(--summerColor)
}

.summerBackground {
  background: var(--summerColor)
}

.ukraineText {
  color: var(--ukraineBlue)
}

.ukraineBackground {
  background: var(--ukraineColor)
}

.helloDiv {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 1;
}

.helloContainer .title {
  text-shadow: black 2px 1px;
}

.nav {
  padding: 0;
  display: flex;
  flex-flow: row;
  max-width: 600px;
  gap: 50px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.nav li {
  list-style-type: none;
}

.nav li button {
  box-shadow: 2px 1px black;
  width: 160px;
  height: 80px;
  border: none;
  border-radius: 10px;
  color: black;
  transition: 0.2s;
  display: flex;
}

.nav li button span {
  text-decoration: none;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  transition: 0.2s;
}

.nav li button:hover, .nav li button:focus {
  cursor: pointer;
  transform: scaleX(105%) scaleY(105%);
  outline: 0;
}

.nav li button:hover span, .nav li button:focus span {
  text-decoration: underline;
}

.title {
  font-size: 4rem;
  font-family: "Calistoga";
}

.subtitle {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: normal;
}

#blogContainer {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}

#blogContainer {
  color: black;
}

#blogImg {
  height: 400px;
  max-width: 90vw;
}

.blogPosts {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  justify-content: center;
}

.blogSeeMore {
  position: relative;
  top: 30px;
  text-decoration: underline;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  transition: 0.2s;
}

.footer {
  text-align: center;
  background: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a {
  transition: 0.2s;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 660px) {
  .title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 1.5em;
  }

  .nav li button {
    width: 120px;
    height: 60px;
  }

  .nav li button span {
    font-size: 1rem;
  }

  .blogHeader {
    font-size: 2em;
  }

  .blogPosts {
    flex-flow: column;
  }
}