@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Variable.ttf");
  font-style: normal;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f6f6f6;
}

.containerWithBgVideo {
  position: relative;
  font-size: 1.5vh;
}

.video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  padding: 0;
  display: flex;
  flex-flow: row;
  max-width: 600px;
  gap: 3rem;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.nav li {
  list-style-type: none;
}

.nav li button {
  width: 16vh;
  height: 10vh;
  background: #f6f6f6;
  border: none;
  border-radius: 10%;
  color: #000000;
  transition: 0.2s;
  display: flex;
}

.nav li button span {
  text-decoration: none;
  text-align: center;
  margin: auto;
  font-size: 2vh;
  transition: 0.2s;
}

.nav li button:hover, .nav li button:focus {
  cursor: pointer;
  transform: scaleX(105%) scaleY(105%);
  outline: 0;
}

.nav li button:hover span, .nav li button:focus span {
  text-decoration: underline;
}

.title {
  font-size: 5em;
  font-family: "Inter";
}

.subtitle {
  font-size: 1.5em;
  font-family: "Inter";
  font-weight: normal;
}

#blogContainer {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}

.blogHeader {
  font-size: 3em;
  font-family: "Inter";
}

#blogContainer {
  color: black;
}

#blogImg {
  height: 400px;
  max-width: 90vw;
}

.blogPosts {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  justify-content: center;
}

.blogSeeMore {
  position: relative;
  top: 30px;
  text-decoration: underline;
  font-size: 1.5em;
  font-family: "Inter";
  font-weight: bold;
  transition: 0.2s;
}

.blogSeeMore:hover, .blogSeeMore:focus {
  color: #ff7f50;
}

.footer {
  text-align: center;
  background: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a {
  transition: 0.2s;
  text-decoration: underline;
}

.footer a:hover {
  color: #ff7f50;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 4em;
  }

  .subtitle {
    font-size: 1.5em;
  }

  .blogHeader {
    font-size: 2em;
  }

  .blogPosts {
    flex-flow: column;
  }
}