@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Variable.ttf");
  font-style: normal;
  font-weight: 900;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e9e9e9;
}

.containerWithBgVideo {
  position: relative;
  font-size: 1.5vh;
}

.video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  padding: 0;
  display: flex;
  flex-flow: row;
  max-width: 600px;
  gap: 10vw;
  margin: 0 auto;
}

.nav li {
  text-decoration: none;
  width: 16vh;
  height: 10vh;
  background: #e9e9e9;
  border-radius: 10%;
  color: #000000;
  transition: 0.23s;
  display: flex;
}

.nav li span {
  text-align: center;
  margin: auto;
  font-size: 2vh;
  transition: 0.23s;
}

.nav li:hover {
  cursor: pointer;
  transform: scaleX(105%) scaleY(105%)
}

.nav li:hover span {
  text-decoration: underline;
}

.title {
  font-size: 5em;
  font-family: "Inter";
}

.subtitle {
  font-size: 2em;
  font-family: "Inter";
}

.sidebar {
  position: absolute;
  width: 25vw;
  margin-right: 70vw;
  height: 100vh;
  display: inline;
}

#blogContainer {
  background-color: #e9e9e9;
  justify-content: left;
  padding-bottom: 160px;
}

.blogHeader {
  font-size: 3em;
  font-family: "Inter";
}

#blogContainer * {
  color: black;
}

#blogImg {
  height: 400px;
  max-width: 90vw;
}

/* .portfolioScrollArrow {
  position: absolute;
  display: block;
  bottom: 10vh;
  height: 6vh;
  width: 6vh;
  transition: 0.23s;
}

.blogScrollArrow {
  position: relative;
  display: block;
  height: 6vh;
  width: 6vh;
  transition: 0.23s;
  margin-bottom: 5%;
}

.portfolioScrollArrow:hover, .blogScrollArrow:hover {
  cursor: pointer;
  transform: scaleX(105%) scaleY(105%);
} */

.blogSeeMore {
  position: relative;
  top: 30px;
  text-decoration: underline;
  font-size: 1.5em;
  font-family: "Inter";
}

.footer {
  text-align: center;
  bottom: 0px;
  background: #e9e9e9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a {
  color: #E37893;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 4em;
  }

  .subtitle {
    font-size: 1.5em;
  }

  .blogHeader {
    font-size: 2em;
  }

  /* .portfolioScrollArrow, .blogScrollArrow {
    display: none;
  } */
}