.blogLink {
  text-decoration: none;
}

.largePostbox {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 0.2s;
  position: relative;
}

.smallPostbox {
  color: #f6f6f6;
  width: 360px;
  height: 360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 1.3rem;
  position: relative;
}

.largePostbox:hover, .largePostbox:focus, .smallPostbox:hover, .smallPostbox:focus {
  cursor: pointer;
  filter: brightness(85%);
  text-decoration: none; /* override global setting */
  outline: 0;
}

.largePostbox:hover .postboxContent, .largePostbox:focus .postboxContent, .smallPostbox:hover .postboxContent, .smallPostbox:focus .postboxContent {
  color: #ff7f50;
}

.backgroundImage {
  z-index: 0;
  height: 100px;
  position: relative;
  border-radius: 10px;
}

.postboxContent {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 1rem;
  transition: 0.2s;
  z-index: 1;
}

.postboxContent p {
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 1400px) {
  .largePostbox {
    width: 580px;
    height: 375px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .largePostbox {
    width: 90vw;
    height: 300px;
    padding: 0;
  }

  .smallPostbox {
    width: 80vw;
    height: 260px;
  }

  .postboxContent p {
    font-size: 1.2rem;
  }

  .postboxContent small {
    font-size: 0.8rem;
  }
}