.blogLink {
  text-decoration: none;
}

.largePostbox {
  width: 40vw;
  height: 25vw;
  margin: 0 auto;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  border-radius: 1.5%;
  transition: 0.23s;
}

.smallPostbox {
  color: #e9e9e9;
  width: 15vw;
  height: 15vw;
  min-width: 200px;
  min-height: 200px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  border-radius: 5%;
  transition: 0.23s;
  font-size: 1em;
}

.largePostbox:hover, .largePostbox:focus, .smallPostbox:hover, .smallPostbox:focus {
  cursor: pointer;
  filter: brightness(85%);
  text-decoration: none; /* override global setting */
}

.largePostbox:hover .postboxContent, .largePostbox:focus .postboxContent, .smallPostbox:hover .postboxContent, .smallPostbox:focus .postboxContent {
  color: #E37893;
}

.postboxContent {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 2vw;
  transition: 0.23s;
}

@media screen and (max-width: 1400px) {
  .postbox {
    width: 60vw;
    height: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .largePostbox {
    width: 90vw;
    height: 60vw;
    padding: 0;
  }

  .smallPostbox {
    width: 60vw;
  }

  .postboxContent {
    font-size: 0.8em;
  }
}